<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name = "Browser" value="chrome"/> 
  <parameter name = "Product" value="Single"/> 
    <classes>
      <class name="com.AP.qa.test.TC001_Single_Product_Checkout"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test1">
  <parameter name = "Browser" value="chrome"/> 
  <parameter name = "Product" value="Single"/> 
    <classes>
      <class name="com.AP.qa.test.TC002_Multiple_Products_Checkout_2"/>
    </classes>
  </test>
  
  
</suite> <!-- Suite -->
